/* .primary-button {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 49px;
  background-color: #ff651c;
  transition-duration: 0.5s;
  border-radius: 10px;
}

.primary-button:hover {
  background-color: transparent;
  border-color: #ff651c;
  color: #000000;
  border-width: 2px;
} */
