@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  background-color: #ffffff;
  color: white;
  min-height: 100vh;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

parent {
  padding-right: 8%;
  padding-left: 8%;
}

.parent {
  padding-right: 8%;
  padding-left: 8%;
}

@media only screen and (max-width: 600px) {
  .parent {
    padding-right: 8%;
    padding-left: 8%;
  }
}

.visible {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 40;
  height: 4rem;
  transition: 0.3s linear;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.primary-button {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
  width: 120px;
  height: 40px;
  background-color: #ff651c;
  transition-duration: 0.5s;
  border-radius: 10px;
}

.primary-button:hover {
  background-color: transparent;
  border-color: #ff651c;
  color: #000000;
  border-width: 2px;
}
